<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chunks</title>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="button">Index</a>
        <a href="{{ url_for('files') }}" class="button">Files</a>
        <a href="{{ url_for('chunks') }}" class="button">Chunks</a>
        <a href="{{ url_for('candidates') }}" class="button">Candidates</a>
        <a href="{{ url_for('clones') }}" class="button">Clones</a>
        <h1>Chunk Statistics</h1>
    </header>

    <main>

        <p>Chunks per file: {{ chunks_per_file }}</p>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div style="width:100%; max-width:800px; margin:30px auto;">
        <canvas id="c" width="800" height="400"></canvas>
        <script>
            const labels = JSON.parse('{{chunks | tojson | safe}}');
            new Chart("c", {
            type: "scatter",
            data: { datasets: [{ 
                label: "Chunks/sec",
                data: labels,
                backgroundColor: "#e74c3c",
                pointRadius: 6
            }]},
            options: {
                scales: {
                x: { title: { display: true, text: "Chunks processed" }},
                y: { title: { display: true, text: "Chunks per second" }, beginAtZero: true }
                }
            }
            });
        </script>

        <div style="width:100%; max-width:800px; margin:30px auto;">
        <canvas id="d" width="800" height="400"></canvas>
        <script>
            const amount = JSON.parse('{{amount | tojson | safe}}');
            new Chart("d", {
            type: "scatter",
            data: { datasets: [{ 
                label: "Amount of Chunks over time",
                data: amount,
                backgroundColor: "#e74c3c",
                pointRadius: 6
            }]},
            options: {
                scales: {
                x: { title: { display: true, text: "Time since start of process(seconds)" }},
                y: { title: { display: true, text: "Total Chunks" }, beginAtZero: true }
                }
            }
            });
        </script>
    </main>
</body>
</html>
