<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="button">Index</a>
        <a href="{{ url_for('files') }}" class="button">Files</a>
        <a href="{{ url_for('chunks') }}" class="button">Chunks</a>
        <a href="{{ url_for('candidates') }}" class="button">Candidates</a>
        <a href="{{ url_for('clones') }}" class="button">Clones</a>
        <h1>Statistics</h1>
    </header>

    <main>
        <h1>Updates</h1>
        {%for u in updates%}
            {{u}} <br>
        {% endfor %}
        <br>

        <h1>Files</h1>
        {%for file in files%}
            {{file}} <br>
        {% endfor %}
        <br>
        <h1>Chunks</h1>
        {%for chunk in chunks%}
            {{chunk}}<br>
        {% endfor %}
        <br>
        <h1>Candidates</h1>
        {%for candidate in candidates%}
            {{candidate}}<br>
        {% endfor %}
        <br>
        <h1>Clones</h1>
        {%for clone in clones%}
            {{clone}}<br>
        {% endfor %}
    </main>
</body>
</html>
